html {
    min-width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    max-width: 800px;
    min-width: 300px;
}

body {
    background-image: url("images/websiteBackground.jpg");
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.nav-menu {
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 3rem;
    left: 0;
    top: -100%;
    background-color: rgba(238, 232, 49, 0.6);
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    transition: 0.3s ease;
}

.nav-link:hover {
    color: rgb(155, 139, 231);
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-item {
    margin: 16px 0;
}

.nav-menu.active {
    visibility: visible;
    /* transition: 0.5s ease-in-out; */
    left: 0;
    top: 30%;
}

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(10px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}

/* .navwide {
    visibility: hidden;
} */

.ships {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 10px;
    max-width: 100%;
    justify-content: space-around;
    list-style: none;
    padding: 1rem;
    margin-top: 2rem;
}

.ships img {
    max-width: 300px;
}

img {
    max-width: 100%;
}

.saga {
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    color: white;
}
