/* html {
    background-image: url("images/nebulabg2.jpg");
    background-size: cover;
    min-width: 50%;
} */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 3em;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.nav a {
    margin: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: black;
    padding: 1em;
}

.ships {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    list-style: none;
}

img {
    max-width: 100%;
}